doctype html
html
    head
        h1 Singer's name: #{data.name}
        h1 Singer's picture: #{data.picture}
        h1 Singer's number of albums: #{data.nb_album}
        h1 Singer's number of fans: #{data.nb_fan}
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content