<h2>My Singers</h2>
<ul class="singers">
  <li *ngFor="let singer of singers"
      [class.selected]="singer === selectedSinger"
      (click)="onSelect(singer)">
    <span class="badge">{{singer.id}}</span> {{singer.name}} number of fans: {{singer.num_fans}} number of albums: {{singer.num_albums}}
  </li>
</ul>

<div *ngIf="selectedSinger">

  <h2>{{selectedSinger.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedSinger.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedSinger.name" placeholder="name"/>
    </label>
  </div>

</div>
