doctype html
html
    head
        h1 #{postTest}
        if length >= 0
            h1 #{length}
        else
            h1 Invalid length
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content